@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid;
    font-weight: bold;
    font-size: 25px;
}

article {
    display: flex;
    gap: 5px;
}

section .box {
    width: 100%;
}

.operator {
    background-color: #F4CE14;
}

.result {
    background-color: #3572EF;
}

.box .box-out {
    background-color: #3572EF;
    width: 18.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

div {
    border-radius: 20px;
    border: 2px solid;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}